.input {
  display: flex;
  flex-direction: column;
}

.input-controls {
  display: flex;
  height: 82%;
  width: 100%;
}

.input-left {
  height: 100%;
  width: 82%;
}

.input-gain {
  position: relative;
  height: 100%;
  width: calc(100% * var(--fader-width));
  overflow: hidden;
}
.input-balance {
  position: relative;
  height: 20%;
  left: calc(3% / (1 - var(--fader-width)));
  width: calc(100% - 2 * 3% / (1 - var(--fader-width)));
}

.input-balance-slider,
.input-gain-slider {
  height: 100%;
  width: 100%;
}
.input-gain-slider {
  position: relative;
  width: calc(100% * (1 - 4 * var(--padding-width)));
  left: calc(100% * 2 * var(--padding-width));
  direction: rtl;
  writing-mode: vertical-lr;
}
.input-balance-slider::-webkit-slider-thumb,
.input-gain-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}
.input-balance-slider::-moz-range-thumb,
.input-gain-slider::-moz-range-thumb {
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}
.input-balance-slider::-webkit-slider-runnable-track,
.input-gain-slider::-webkit-slider-runnable-track {
  background: transparent;
}
.input-balance-slider::-moz-range-track,
.input-gain-slider::-moz-range-track {
  background: transparent;
}

.input-balance-ruler,
.input-gain-ruler {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  top: 0;
  right: 0;
}
.input-balance-ruler {
  height: 30%;
  width: 100%;
}
.input-balance-ruler div {
  height: 100%;
  width: 2px;
  background: white;
}
.input-gain-ruler {
  flex-direction: column;
  height: 100%;
  width: 30%;
}
.input-gain-ruler div {
  height: 2px;
  width: 100%;
  background: white;
}

.input-gain-indicator {
  position: absolute;
  z-index: 1;
  left: 0;
  height: 0;
  width: 0;
  border-left: 6vw solid white;
  border-top: 1.7vh solid transparent;
  border-bottom: 1.7vh solid transparent;
}

.input-balance-labels,
.input-gain-labels {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.input-balance-labels {
  top: 50%;
}
.input-gain-labels {
  flex-direction: column;
  top: 0;
  left: 0;
}
.input-balance-labels div {
  display: flex;
  top: 50%;
  height: 50%;
  align-items: center;
}
.input-gain-labels div {
  display: flex;
  height: 12.5%;
  width: 100%;
  align-items: center;
  justify-content: right;
  padding-right: 5%;
}

.input-eq {
  position: relative;
  height: 60%;
  left: calc(100% * var(--padding-width));
  width: calc(100% * (1 - 2 * var(--padding-width)));
  overflow: hidden;
}
.input-eq-dot {
  --input-eq-dot-radius: 1.5vh;
  z-index: 1;
  position: absolute;
  height: calc(2 * var(--input-eq-dot-radius));
  width: calc(2 * var(--input-eq-dot-radius));
  border: 0.2vh solid white;
  border-radius: 50%;
  background: var(--color-bg);
}
.input-eq-dot.active {
  background: white;
}
