.mixer {
  display: flex;
  flex-direction: column;
}

.mixer-console {
  display: flex;
  height: 82%;
  width: 100%;
}
.mixer-channels {
  display: flex;
  height: 100%;
  width: 82%;
  width: calc(100% * (1 - var(--fader-width)));
  overflow-x: scroll;
}
.mixer-channel-div, 
.mixer-master {
  position: relative;
  height: 100%;
}
.mixer-master {
  width: calc(100% * var(--fader-width));
}
.mixer-channel-div {
  width: calc(100% * var(--fader-width) / (1 - var(--fader-width)));
}

.mixer-channel {
  position: relative;
  transition: transform 0.1s ease;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.mixer-channel-delete {
  position: absolute;
  bottom: 0;
  left: 1px;
  height: 25%;
  width: calc(100% - 2px);
  background: var(--color-red);
}

.mixer-channel-vol {
  position: relative;
  height: 75%;
  width: 100%;
}
.mixer-channel-slider {
  position: relative;
  height: 100%;
  width: calc(100% * (1 - 4 * var(--padding-width)));
  left: calc(100% * 2 * var(--padding-width));
  direction: rtl;
  writing-mode: vertical-lr;
}
.mixer-channel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}
.mixer-channel-slider::-moz-range-thumb {
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}
.mixer-channel-slider::-webkit-slider-runnable-track {
  background: transparent;
}
.mixer-channel-slider::-moz-range-track {
  background: transparent;
}

.mixer-channel-ruler {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
}
.mixer-channel-ruler div {
  height: 2px;
  width: 100%;
  background: white;
}

.mixer-channel-new {
  height: 12.5%;
  width: 100%;
  background: var(--color-hl0);
}

.mixer-channel-label {
  height: 12.5%;
  width: 100%;
  background: var(--color-hl0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis "...";
  text-align: center;
  line-height: 250%;
}

.channel-src {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-evenly;
}
.channel-src-select {
  padding-left: calc(100% * var(--padding-width));
  padding-right: calc(100% * var(--padding-width));
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: transparent;
  text-align: left;
}
.channel-src-select div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis "...";
}
